<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>

<div class="row">

    <div class="col-md-4">
        <img [src]='heroe.img' class="img-fluid" alt="{{heroe.nombre}}" />
        <br><br>
        <!-- <a href="" class="btn btn-outline-danger btn-block">Regresar</a> -->
        <button (click)="regresarHeroes()" class="btn btn-outline-danger btn-block">Regresar</button>
    </div>

    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>{{heroe.bio}}</p>
        <img class="img-logo" src="assets/img/DC-Comics-icon.png" alt="DC" *ngIf="heroe.casa == 'DC'">
        <img class="img-logo" src="assets/img/Marvel-icon.png" alt="Marvel" *ngIf="heroe.casa == 'Marvel'">
    </div>
</div>